@import '~primer-support';

// $bg_linear: linear-gradient(140deg, #DBE2FE, #f5e4d8);
$bg_linear: #18172A;

// $c: #3E45CB;
// $c: #F8DB96;
// $c: #B9923D;
$c: #FF2738;
$c2: #0CDAC7;
$c_pink: #FF729F;
$c_border: #666665;
// $blue: #384AFF;
$blue: #384AFF;
$green: #21b66f;
$red: #ff3856;
$bg-blue: $blue;
$bg-green: $green;
$bg-red: $red;
$text-blue: $blue;
$text-green: $green;
$text-red: $red;
$border-radius: 4px;
$body-font-size: 18px;
$body-line-height: 1.4;
$h1-size: 36px;
$h2-size: 28px;
$h3-size: 24px;
$h4-size: 20px;
$font-weight-normal: 'Calibre-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-weight-bold: 'Calibre-Semibold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$body-font: $font-weight-normal;
$font-mktg: $font-weight-bold;
